
  body {
      
      background: linear-gradient(-45deg, #f8db8c, #f87307, #cc0808, #910303);
      background-size: 400% 400%;
      animation: gradient 15s ease-in infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
h1{
    margin: 15px;
}
.Home{
   
    color: rgb(240, 224, 10);
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 97vw;
    height: 90vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.932);
    padding: 1rem;
    border: 1px groove rgb(255, 0, 0);
    border-radius: 10px;
}
.navbar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbarLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    text-decoration: none;
    color: rgb(251, 255, 0);
    margin: 10px;
    font-size: 16px;
}
.NavLinks:hover{
    color: rgb(255, 0, 0);
}